* {
  box-sizing: border-box;
}

div#middle-section, div#bottom-section {
  margin: 5px;
}

div#game {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
}

div#game header {
  text-align: center;
}

div#middle-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-height: 200px;
}

div#game header, div#boards, div#p1-info, div#p2-info {
  padding: 10px;
  border: 4px solid black;
  border-radius: 5px;
}

div#bottom-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

div#command-history {
  font-family: monospace;
  height: 100px;
  overflow: scroll;
}
