:root {
  --medium-blue: #0500c7ff;
  --english-vermillion: #d64045ff;
  --light-cyan: #e9fff9ff;
  --powder-blue: #9ed8dbff;
  --carrot-orange: #f18f01ff;
}

* {
  box-sizing: border-box;
  color: var(--light-cyan);
}

button {
  background-color: black;
}

body {
  background-color: black;
  background-image: url("../img/stars.jpg");
}

div#game {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
}

div#game header {
  text-align: center;
}

div#middle-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

div#boards {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin: 10px;
}

.player-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: black;
  text-align: center;
  line-height: 1.3em;
  border: 4px solid black;
  border-radius: 10px;
  min-width: 160px;
}

.player-info .ships {
  text-align: left;
  margin-left: 0.5em;
}

div.name {
  font-family:'Courier New', Courier, monospace;
  background-color: var(--medium-blue);
  border-radius: 10px;
  font-size: 26px;
  margin-bottom: 20px;
  padding: 10px;
}

div#status-banner {
  padding: 10px;
  font-size: 26px;
  text-align: center;
}

div.square {
  display: inline-block;
  background-color: var(--medium-blue);
  border-radius: 2px;
  width: 20px;
  height: 20px;
  margin: 1px;
}

div.square.ship {
  background-color: var(--light-cyan);
}

div.square.target {
  border-color: var(--carrot-orange);
  border-width: 5px;
  border-style: dashed;
}

div.square.attacked {
  background-color: transparent;
  border-radius: 10px;
}

div.square.hit {
  background-color: var(--english-vermillion);
}

div.controls {
  margin: 10px;
  display: flex;
  flex-direction: column;
}

div.board {
  line-height: 10px;
  margin: 10px;
}

button.controls {
  margin: 5px;
  padding: 5px;
  border-radius: 2px;
}

button#p1-fire {
  background: var(--english-vermillion);
}

@media only screen and (max-width: 900px) {
  div#middle-section {
    flex-direction: column;
  }

  div#boards {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
